.table-container{
    -fx-border-radius: 15px;
    -fx-border-color: #fff;
}
.shadow{
    -fx-effect:dropshadow(three-pass-box, rgba(0,0,0,0.5), 6,0,0,0);
}

.search{
    -fx-font-size: 14px;
    -fx-padding: 0 0 0 27px;
}

.search:focused{
    -fx-border-width: 2px;
}

.table {
    -fx-background-color: transparent;
    -fx-border-color: blue;
    -fx-border-radius: 10px;
    -fx-padding: 0px;
}

.table .table-column{
    -fx-aligment: CENTER;
}
.table .column-header-background{
    -fx-background-color:linear-gradient(to left top, #E6FDFF, #CEF6E5);
    -fx-background-insets: 0 0 0 0;
    -fx-background-radius: 8px 8px 0px 0px;

}
.table .column-header, .filter {
    -fx-background-color: transparent;
    -fx-size: 40px;

}

.table .column-header .filter{
    -fx-text-fill: #fff;
    -fx-font-family: "Arial";

}